.nova-lista-wrapper {
    width: 100%;
}
.nova-lista-whrapper-form.hidden {
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: 300ms;

}
.nova-lista-whrapper-form {
    overflow: hidden;
    transform-origin: top;
    display:flex;
    max-height: 100%;
    transition: 300ms;
}
.nova-lista-whrapper-botao.hidden {
    display:none;
}